{% extends 'store/base.html' %} {% block content %}

<div class="jumbotron text-center col-sm-8 border p-3 shadow-lg  mx-auto mt-5">
  <h1 class="display-4 text-danger"><span class="border-bottom border-dark">Payment Failed</span></h1>
  <p class="lead mt-3">
   Here are some other common reasons for payment failure Transaction blocked
    by the merchant account.
    
  </p>
  <hr class="my-4" />
  <p>
    Expired credit/debit card. Canceled credit/debit
    card. The online payment method chosen by the customer is not supported by
    the payment gateway. If the customer's account is flagged by the bank.
  </p>
  <p class="lead"></p>
</div>

{% endblock content %}
